<a href="https://colab.research.google.com/github/nadarjasmin/test/blob/master/building_inbuild_python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
def sumTwo(a,b):
    return a+b

def verifynCallSum(y):
    sum1=0
    
    if (len(y)>1):
      if isinstance(y,(set,dict)):
        y = list(y)
      
      for i in range(0,len(y)):
        sum1 = sumTwo(sum1,y[i])
      return sum1
    else:
      return y

def letsCompute(x,y):
  if len(y) == 0:
        print("letsCompute() of empty sequence with no initial value")
  else:
    reduceResult = verifynCallSum(y)        
    return reduceResult

final=letsCompute(sumTwo,[1,2,5])
if(final is not None):
  print (final)

8

In [2]:
new_range = [chr(120+x)*i for x in range(0,3) for i in range(1,5)]
print(new_range)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [3]:
new_range1 = [chr(119+i)*x for x in range(1,5) for i in range(1,4)]
print(new_range1)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [4]:
new_range3 = [[(2+i)+j for j in range(4)] for i in range(4)]
print(new_range3)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [5]:
new_range4 = [(i,j) for j in range(1,4) for i in range(1,4)]
print(new_range4)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [6]:
new_range5 = [[j+i for k in range(1)] for j in range(2,5) for i in range(3)]
print(new_range5)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [30]:
a = {1:6,3:8,1:2}
print(a)
f =list(a)
print(f)

{1: 2, 3: 8}
[1, 3]